#app
{
    width: 100%;
    height: 100%;


}
.sider
{
    display: flex;
    flex-direction: row;
}
.pageSider
{
    /* background-color: papayawhip; */
    margin: auto 0;
    max-width: 5%; 
    height: 100%;
}
.cont
{
    
    width: 50%;
    max-height: 800px;
    overflow: scroll;
    
    
}


.pic-cont
{
    display: flex;
    flex-direction: column;
    
    padding: 3px;
    margin: 10px;
    
}
.pic-cont p
{
    text-align: center;
    font-weight: 700;
    word-wrap: break-word;
    padding: 2px;
}
.pic
{
   border-radius: 10px;
   width: 100%;
}
.application
{
    display: block;
    height: 100%;


    
}
.view
{
    /* display: flex;
    flex-direction: row; */
    /* justify-content:center ; */
    position: sticky;
    top: 0;
    width: 100%;
    height: 5%;
}
.view-img
{

    float: right;
    margin: 50px;
    height: 2000%;
    width: 60%;
    
}
.img-cont
{
    height: 100%;
    width: 100%;
    padding-bottom: 10%;
    

}
#org
{  
    max-height: 100%;
    max-width: 100%;
}

.img-tags 
{
    float: left;
    width: 10%;
    height: 100%;
    
    
}

textarea
{
    width: 100%;
    height: 100%;
    word-wrap: break-word;
}
.subTags
{
    display: inline;
}
input[type=text]
{
    border: none;
}
.page
{
    display: flex;
}